.app {
  text-align: center;
  margin: 0 auto;
}

.photo {
  width: 80px;
}

ul {
  list-style: none;
  padding-bottom: 10px;
}

.input-group {
  margin: auto;
}

div {
  margin: 20px;
}

span {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 15px;
}
